﻿
@font-face {
  font-family: 'Sakkal Majalla';
  src: url('fonts/SakkalMajalla.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sakkal Majalla';
  src: url('fonts/SakkalMajalla-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

p {
  padding: 20px 0;
  margin: 0;
}

header img {
  width: 1140px;
  height: 150px;
  max-width: 100%;
}

.pageHeader {
  background: #961a34;
  padding: 5px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

h3 {
  font-size: 20px;
}

.font-primary {
  color: #961a34;
}

.bglightgrey {
  background: #f1f2f2;
}

.border-top-primary {
  border-top: 10px solid #961a34;
  ;
}

.arabicText {
  font-size: 16px;
  font-family: 'Sakkal Majalla';
}

table {
  width: 100%;
  text-align: center;
  font-weight: normal;
}

  table tr {
  }

    table tr th,
    table tr td {
      padding: 10px 0;
    }

    table tr th {
      background: #939598;
      text-align: center;
      color: #fff;
    }

.borderBottom {
  border-bottom: 1px solid #dee2e6;
}

.borderTop {
  border-top: 1px solid #dee2e6;
}

.borderLeft {
  border-left: 1px solid #dee2e6;
}

table.border {
  border: 1px solid #dee2e6 !important;
}

table.threecolumns tr td {
  width: 33.33%;
}

table.twocolumns tr td {
  width: 50%;
}

table.innerTable {
  text-align: right;
}

  table.innerTable tr td {
    padding: 5px 10px;
  }

    table.innerTable tr td:nth-child(1) {
      width: 60% !important;
    }

    table.innerTable tr td:nth-child(2) {
      width: 20% !important;
    }

    table.innerTable tr td:nth-child(3) {
      width: 20% !important;
    }

.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}
